:root {
  --main-title-color: #212121;
  --second-title-color: #2196f3;
  --font-style: normal;
  --primary-white-color: #ffffff;
  --adress-prime-color: #757575;
  --fill-svg-color: #afb1b8;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", "sans-serif";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section--only--top {
  padding-top: 0;
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: "Raleway", "sans-serif";
}

.header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.logo__white {
  color: var(--second-title-color);
}

.logo__dark {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.site-nav__item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.navigation {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav__link {
  color: inherit;
  transition: color var(--main-transition);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--second-title-color);
}

.navigation {
  background: var(--primary-white-color);
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--second-title-color);
}

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  align-items: center;
}

.contacts__icon:hover .contacts__icon:focus {
  color: var(--second-title-color);
}

.contacts__icon {
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  fill: currentcolor;
}

.contacts .item + .item {
  margin-left: 50px;
}

.mail {
  margin-right: 30px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-prime-color);
}

.tel {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--adress-prime-color);
}

.current {
  color: var(--second-title-color);
  position: relative;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
  left: 0;
}

.studio-title,
.portfolio-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.contact-list {
  text-decoration: none;
}

.item-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.item-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fill-svg-color);
  background-color: inherit;
  transition: background-color var(--main-transition);
}

.item-soc-link:hover .item-icon,
.item-soc-link:focus .item-icon {
  fill: var(--primary-white-color);
}

.item-soc-link:focus,
.item-soc-link:hover {
  background-color: var(--second-title-color);
}

.item-icon {
  fill: var(--fill-svg-color);
  transition: fill var(--main-transition);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), min-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  min-height: 0;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
  cursor: pointer;
  transition: border-color var(--main-transition), box-shadow var(--main-transition);
}

.form-input::-moz-placeholder {
  font-size: 12px;
  color: #757575;
}

.form-input:-ms-input-placeholder {
  font-size: 12px;
  color: #757575;
}

.form-input::placeholder {
  font-size: 12px;
  color: #757575;
}

.form-input:hover {
  border-color: var(--second-title-color);
  box-shadow: var(--main-transition);
}

.form-input:hover + .input-icon {
  fill: var(--second-title-color);
}

.form-input:focus {
  border-color: var(--second-title-color);
  box-shadow: var(--main-transition);
}

.input-field {
  margin-bottom: 10px;
}

.input-title {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color var(--main-transition), box-shadow var(--main-transition);
  cursor: pointer;
}

.modal-text:focus,
.modal-text:hover {
  border-color: var(--second-title-color);
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon {
  transition: var(--main-transition);
  cursor: pointer;
}

.input-wrap {
  position: relative;
}

.input-field-comment {
  margin-bottom: 20px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  transition: background-color var(--main-transition), border-color var(--main-transition);
}

.check-icon {
  fill: transparent;
  transition: fill var(--main-transition);
}

.input-check:checked + .check-text span {
  background-color: var(--second-title-color);
  border-color: var(--second-title-color);
}

.input-check:focus + .check-text span {
  border-color: var(--second-title-color);
}

.input-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.button-check {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  border-color: var(--second-title-color);
}

.check-condition {
  margin-left: 7px;
  color: var(--second-title-color);
  transition: var(--main-transition);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-prime-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/command.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  text-align: center;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
}

.hero__button {
  text-align: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color var(--main-transition);
}

.hero__button:focus,
.hero__button:hover {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

.works {
  display: flex;
  gap: 30px;
}

.works__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.works__item {
  text-decoration: none;
  position: relative;
}

.features {
  display: flex;
  gap: 30px;
}

.features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-prime-color);
}

.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.svg-icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-title-color);
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-list {
  text-decoration: none;
  width: 270px;
}

.team {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__pre-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-list-text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--adress-prime-color);
}

.team {
  background: #ffffff;
}

.clients {
  display: flex;
  gap: 30px;
  list-style: none;
}

.clients__type:hover .partner-foto,
.clients__type:focus .partner-foto {
  fill: var(--second-title-color);
  transition: var(--main-transition);
}

.clients__type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-color: var(--second-title-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--main-transition), border-color var(--main-transition);
}

.clients__type:hover,
.clients__type:focus {
  border-color: var(--second-title-color);
}

.partner-foto {
  transition: fill var(--main-transition);
  fill: #afb1b8;
}

.info {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress__list {
  list-style: none;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-up {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-link {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.adress__city {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color var(--main-transition), background-color var(--main-transition);
}

.address__mail {
  margin-bottom: 9px;
}

.address__mail,
.address__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-transition);
}

.adress__city:hover,
.adress__city:focus,
.address__mail:hover,
.address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: var(--second-title-color);
}

/* ---------FOOTER SOCIES--------- */
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-soc {
  display: flex;
  gap: 10px;
}

.footer-soc__list {
  list-style: none;
}

.footer-soc__link {
  display: block;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: currentColor;
  transition: background-color var(--main-transition);
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0 12px;
}

.footer-soc__link:hover,
.footer-soc__link:focus {
  color: var(--primary-white-color);
  background-color: var(--second-title-color);
}

.footer-connect {
  width: calc(50% - 15px);
  margin-left: auto;
}

.footer__pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__pre-title {
  margin-bottom: 20px;
}

.footer__emeil-title {
  display: flex;
  gap: 12px;
}

.footer__wrap {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  transition: border-color var(--main-transition), box-shadow var(--main-transition);
  cursor: pointer;
}

.footer__wrap:hover {
  border-color: var(--second-title-color);
}

.footer-input {
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  transition: border-color var(--main-transition);
  box-shadow: var(--main-transition);
  cursor: pointer;
}

.footer-btn {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  background-color: var(--second-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  min-width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--primary-white-color);
  transition: background-color var(--main-transition), color var(--main-transition);
  gap: 10px;
}

.footer-btn__icon {
  fill: var(--primary-white-color);
  gap: 10px;
}

.address__city {
  margin-bottom: 9px;
}

.address {
  text-decoration: none;
  font-style: var(--font-style);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address__mail {
  margin-bottom: 9px;
}

.address__mail,
.address__tel {
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
  font-style: var(--font-style);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.menu {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.menu__list {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.menu__button:hover,
.menu__button:focus {
  color: var(--primary-white-color);
  background-color: var(--second-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-color {
  color: var(--second-title-color);
  cursor: pointer;
}

.menu__button {
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  cursor: pointer;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.development__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.development {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.development__list {
  gap: 30px;
}

.development__list:hover .development__top--text {
  transform: translateY(0);
}

.development__top--wrap {
  position: relative;
  overflow: hidden;
}

.development__foto {
  transition: box-shadow var(--main-transition);
}

.development__foto:hover .development__top--text,
.development__foto:focus .development__top--text {
  transform: translateY(0);
}

.development__top--text {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  align-items: center;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--main-transition);
}

.development__list:nth-child(3n-1) {
  margin-right: 0;
}

.development__list:nth-last-child(-n+6) {
  margin-bottom: 0;
}

.development__list {
  width: 370px;
  background: #ffffff;
}

.development__foto {
  text-decoration: none;
}

.development__foto:hover,
.development__foto:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.development__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.development__pre-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--adress-prime-color);
}/*# sourceMappingURL=main.css.map */