.clients {
    display: flex;
flex-wrap: wrap;
    gap: 30px;
    list-style: none;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

                @media screen and (min-width: 1200px) {
                    display: flex;
                    flex-wrap: nowrap;
                    
                }
}

.clients__link {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    border-color: var(--second-title-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color var(--main-transition), border-color var(--main-transition);
    &:hover,
    &:focus {
        border-color: var(--second-title-color);
        fill: color var(--second-title-color);
            transition: var(--main-transition);
    }
}

.clients__item {
    width: 100%;

    @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 3);
        }
}
            
.clients__icon {
    transition: fill var(--main-transition);
    fill: #afb1b8;
    &:hover,
    &:focus {
        fill: var(--second-title-color);
        transition: var(--main-transition);
    }
}