.clients {
    display: flex;
flex-wrap: wrap;
    gap: 30px;
    list-style: none;

    @mixin mobile {
        display: flex;
            flex-wrap: wrap;
    }
            

        @mixin tablet {
            display: flex;
            flex-wrap: wrap;
        }

                                @mixin desctop {
                    display: flex;
                    flex-wrap: nowrap;
                    
                }
}

.clients__link {
    display: flex;

    align-items: center;
    justify-content: center;

    
    height: 92px;
    border-color: var(--second-title-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color var(--main-transition), border-color var(--main-transition);
    &:hover,
    &:focus {
        border-color: var(--second-title-color);
        fill: color var(--second-title-color);
            transition: var(--main-transition);
    }
}

.clients__item {
    width: 100%;

    // calc((100% - кол-во_зазоров_в_строке * значение_ одного_зазора) / кол-во_элементов_в_строке)

    @mixin mobile {
            flex-basis: calc((100% - 30px) / 2);
                height: 92px;
        }

                                @mixin tablet {
                    flex-basis: calc((100% - 2 * 30px) / 3);
                    height: 92px;
                }
}
            
.clients__icon {
transition: fill var(--main-transition);
    fill: #afb1b8;

    &:hover,
    &:focus {
        fill: var(--second-title-color);
        transition: var(--main-transition);
    }
}
