

// .header {
//     border-bottom: 1px solid #ececec;
// }

// .header-mail {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     color: var(--second-title-color);
// }

// .header-tel {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     color: var(--adress-prime-color);
// }

// .header {}

// .menu-container {}

// .header__container {}

// .header__logo {}

// .link {}

// .logo__dark {}

.button-open {
    margin-left: auto;
}

// .button-icon {}

.mobile-menu {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 40px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.button-close {
    fill: var(--second-title-color);
    border: none;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-bottom: 8px;
}

.mobile-menu-navigation {
    margin-bottom: 158px;

}

// .mobile-menu-list {}

// .list {}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
    

}

.mobile-menu__link {
    font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.mobile-menu__link-color {
    font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        
    color: var(--second-title-color);
}

// .current {}

// .site-nav__link {}

.mobile-connect {
    margin-bottom: 64px;
}

// .mobile-connect-list {}

// .mail {}

.mobile-connect__link {
    font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    
        color: #757575;
}

// .mobile-connect__icon {
    
// }

.tel {
    margin-top: 32px;
}

.mobile-connect__link-color {
    color: var(--second-title-color);
    font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        
    
        letter-spacing: 0.02em;
        
}

.mobile-soc-list {

    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.mobile-soc-item {
    &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, .2);
            padding-right: 10px;
            margin-right: 10px;
}
}

.mobile-soc-link {
    
    
font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: .02em;
    text-decoration: none;
    color: var(--second-title-color);

    @media screen and (min-width: 480px) {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: .02em;
    }
}
