.header {
    border-bottom: 1px solid #ececec;

    @media screen and (max-width: 767px) {
            height: 60px;
            display: flex;
            align-items: center;
        }
        @include mobile {
            justify-content: space-between;
            
        }
}
                

.menu-list {
}
.list {
}
.menu__item {
}
.menu__link-color {
}
.link {
}
.menu__link {
}
.tablet-items-connect {
    
}
.menu-connect-list {
}
.menu__tel {
}
.menu-connect__link {
}
.current {
}
.menu-connect__icon {
}
.menu-connect__link-color {
}
.menu__mail {
}
