.header__logo {
    font-family: "Raleway", "sans-serif";
}

.header-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--second-title-color);
}

.logo__white {
    color: var(--second-title-color);
}

.logo__dark {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}