
.header {
}
.container {
}
.header__container {
}
.header__logo {
}
.link {
}
.logo__dark {
}
.button-open {
background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);

  @include tablet {
    display: none;
  }
}
.button-icon {
  @include tablet {
    display: none;
  }
}
.mobile-menu {
  @include min-mobile {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    transition: var(--main-transition);
    transform: translateX(100%);
    background-color: var(--primary-white-color);
  }

  @include tablet {
display: flex;
    align-items: center;
    width: 100%;
  }
    
}

.mobile-menu.is-open {
transform: translateX(0);

@include tablet {
  
    display: flex;
    align-items: center;
    width: 100%;

}
}

.navigation {
  display: flex;

  @include tablet {
    
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 88px;
  }
}
.mobile-menu-list {
  display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: .02em;
}
.list {
}
.mobile-menu__item {
  @include min-mobile {
    margin-bottom: 32px;
    padding: 0;
    }
}
.mobile-menu__link-color {
  color: var(--second-title-color);

  font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: .02em;
    transition: color var(--main-transition);

    @include tablet{
      font-size: 14px;
    line-height: 1.14;
    }

    
}
.mobile-menu__link {
  font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: .02em;
    color: var(--main-title-color);
    transition: color var(--main-transition);

    @include tablet{
      font-size: 14px;
    line-height: 1.14;
    }
    
}
.mobile-connect {
}
.mobile-connect-list {
  display: flex;
    flex-direction: column;
    gap: 32px;
}
.contacts-item {
}
.mobile-connect__link {
  display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: .02em;
    
    color: #757575;
    transition: color var(--main-transition);

  @include tablet {
    font-size: 14px;
    line-height: 1.14;
  }

    
}
.current {
  
}
.mobile-connect__icon {
  @include min-mobile {
    display: none;
  }
}
.mobile-connect__link-color {
  
  display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: .02em;
    list-style: none;
    color: var(--second-title-color);
    transition: color var(--main-transition);

    @include mobile {
      font-size: 34px;
    line-height: 1.18;
    }

    @include tablet{
      font-size: 14px;
    line-height: 1.14;
    }
}
.contacts-item {
  list-style: none;
}
.mobile-soc-list {
  display: flex;
  margin-top: 64px;

  @include tablet {
    display: none;
  }
}


    

.mobile-soc-item:not(:last-child) {
border-right: 1px solid rgba(33,33,33,.2);
    padding-right: 10px;
  
}

.mobile-soc-item:not(:first-child) {
    padding-left: 10px;

}

.mobile-soc-link {
  font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: .02em;
    color: var(--second-title-color);

    @include mobile {
      font-size: 18px;
    line-height: 1.22;
    }
}
.button-close {

  position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    color: var(--main-title-color);
    background: var(--primary-white-color);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

  @include tablet {
    display: none;
  }
}





































// .header {
//   border-bottom: 1px solid #ececec;
// }
// .container {
// }
// .header__container {
// }
// .header__navigation {
// }
// .navigation {
// }
// .header__logo {
// }
// .link {
// }
// .logo__dark {
//   color: #000;
// }
// .button-open {
// background-color: var(--primary-white-color);
//   border: none;
//   cursor: pointer;

//   @include tablet {
//     display: none;
//   }
// }

// .button-open:hover {
//   fill: var(--second-title-color);
// }


// .button-icon {
// }
// .mobile-menu {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     padding: 48px 40px;

//     display: flex;
    
//     transition: var(--main-transition);
//     transform: translateX(100%);
//     background-color: var(--primary-white-color);

//   @include mobile {

//     position: fixed;

//     z-index: 10;

//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     padding: 48px 40px;

//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     transition: var(--main-transition);
//     transform: translateX(100%);
//     background-color: var(--primary-white-color);
//   }

//   @include tablet {
//     display: flex;
//     align-items: center;
//     width: 100%;
//     margin-left: 87px;
//   }

   
    
  
//   @include desctop {
//     margin-left: 92px;
//   }
  
// }

// .mobile-menu.is-open {
   
// transform: translateX(0);
  
// }
// .button-close {

//   position: absolute;
//   top: 0;
//   right: 0;

//   padding: 10px 15px;

//   background-color: var(--primary-white-color);
//   border: none;
//   cursor: pointer;

// @include tablet {
//   display: none;
// }
// }

// .button-close:hover {
// fill: var(--second-title-color);
// }

// .mobile-menu-list {

//   @include tablet {
//     display: flex;
//     align-items: center;
//   }
// }
// .list {
// }
// .mobile-menu__item:not(:first-child) {
 
//   margin-top: 32px;



// @include tablet {
//   margin-left: 52px;
// }

// }
// .mobile-menu__link-color {
//   color: var(--second-title-color);
//   position: relative;
//   display: block;

//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 40px;
//   line-height: calc(47 / 40);
//   letter-spacing: 0.02em;

//   font-weight: 500;

// @include tablet {
//     padding-top: 32px;
//     padding-bottom: 32px;

//     font-size: 14px;
//     line-height: 1,14;
//   }
// }
// .mobile-menu__link {
//   position: relative;
//   display: block;

//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 40px;
//   line-height: 1.17;
//   letter-spacing: 0.02em;

//   font-weight: 500;

//   @include tablet {
//     padding-top: 32px;
//     padding-bottom: 32px;

//     font-size: 14px;
//     line-height: 1.14;

//     color: var(--primary-white-color);
//     transition: var(--main-transition);
//   }

//   &:hover,
//   &:focus {
//     color: var(--second-title-color);
//   }
// }


// .mobile-connect {
//   @include tablet {
//     margin-left: auto;
//   }
// }
// .mobile-connect-list {
//   display: flex;
// display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 10px;
  
//   flex-direction: column-reverse;
//     margin-bottom: 64px;

// }

 
  




// .mobile-connect__link {
//   color: #757575;
//   font-weight: 500;
//   letter-spacing: 0.02em;
//   transition: color var(--main-transition);

  
//     color: #757575;
//     font-size: 24px;
//     line-height: 1.16;
//     letter-spacing: 0.02em;
  

//   @include tablet {
//     display: flex;
//     align-items: center;

//     font-size: 14px;
//     line-height: 1.14;
//   }

//   &:hover,
//   &:focus {
//     color: var(--second-title-color);
//   }

// }
// .current {

//   font-size: 34px;
//     line-height: 1.17;
//     letter-spacing: 0.02em;

//     color: var(--second-title-color);


// }
// .mobile-connect__icon {
  
//   display: none;
//   fill: #757575;
// margin-right: 10px;
// transition: var(--main-transition);


// }
// .mobile-connect__link-color {
// }

// .contacts-item:not(:last-child) {

//   margin-top: 32px;


// @include tablet {
//   margin-right: 30px;
// }
// }

// .mobile-soc-list {
//   display: flex;
//   align-items: center;
//   @include tablet {
//     display: none;
//   }
// }
// .mobile-soc-item {
// }
// .mobile-soc-link {
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.22;
//   letter-spacing: 0.02em;
//   color: var(--second-title-color);

// }
