.site-nav__item {
    margin-right: 50px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.navigation {
    margin-left: 93px;
}

.site-nav {
    display: flex;
}

.site-nav__link {
    color: inherit;
    transition: color var(--main-transition);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--second-title-color);
}

.navigation {
    background: var(--primary-white-color);
}