.socials {
    display: flex;
    justify-content: center;
    gap: 10px;

    list-style: none;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--fill-svg-color);
    background-color: inherit;
    transition: background-color var(--main-transition);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
    fill: var(--primary-white-color);
}

.socials__link:focus,
.socials__link:hover {
    background-color: var(--second-title-color);
}

.socials__icon {
    fill: var(--fill-svg-color);
    transition: fill var(--main-transition);
}