:root {
    --main-title-color: #212121;
    --second-title-color: #2196f3;
    --font-style: normal;
    --primary-white-color: #ffffff;
    --adress-prime-color: #757575;
    --fill-svg-color: #afb1b8;
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}